/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#testoAlternato {
  width: 500px;
  height: 120px;
  border: 3px solid black;
  background: aliceblue;
  text-align: center;
  position: relative;
}
.parole i {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  animation: fade-in 6s backwards infinite;
  color: #6b969d;
}
.parole i:nth-child(2) {
  animation-delay: 2s;
}
.parole i:nth-child(3) {
  animation-delay: 4s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  2% {
    opacity: 0;
    transform: translateY(0px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(1);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 0;
  }
}
